name: Lean build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: lean-build
  cancel-in-progress: true

jobs:
  build_project:
    runs-on: ubuntu-latest
    name: Build project
    steps:
      - name: Checkout project
        uses: actions/checkout@v5
      - name: Build and test project
        uses: leanprover/lean-action@main
        with:
          test: false
